
#contact-details {
    display: none;
}

#contact-details ul {
    display: flex;
    flex-direction: column;
}

#contact-details ul li {
    display: flex;
    flex-direction: row;
}

#contact-details ul li h2 {
    margin-left: 20px;
}

#contact-details ul li h4 {
    margin-left: 20px;
   
}
.container{
    margin-top: 2em;
}
@media screen and (max-width: 660px){
    #contactArea {
        grid-template-columns: 1fr;
    }
}